<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="icon" href="./assets/favicon/favicon.ico" />
    <meta
      name="Welcome to Phoinix Keyz"
      content="Kevin is a website developer, he spent most of his time developing website. Visit his portfolio to see more about him."
    />
    <link rel="apple-touch-icon" href="../assets/favicon/android-chrome-192x192.png" />
    <title>Phoinix Keyz</title>
  </head>
  <body id="main-body" style="background: #000000; overflow: hidden; padding: 0">
    <!-- HERO SECTION -->
    <%=require('./home-partials/hero-section.html') %>

    <!-- HIGHLIGHTS SECTION -->
    <%=require('./home-partials/highlights-section.html') %>

    <!-- TOUR SECTION -->
    <%=require('./home-partials/tour-section.html') %>

    <!-- MERCHANDISE SECTION -->
    <%=require('./home-partials/merchandise-section.html') %>

    <!-- SIGNUP SECTION -->
    <%=require('./home-partials/signup-section.html') %>

    <!-- FOOTER SECTION -->
    <%=require("./partials/footer.html") %>
  </body>
</html>
