<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="icon" href="../../src/assets/favicon/favicon.ico" />
    <meta
      name="Welcome to Phoinix Keyz"
      content="Kevin is a website developer, he spent most of his time developing website. Visit his portfolio to see more about him."
    />
    <link rel="apple-touch-icon" href="../assets/favicon/android-chrome-192x192.png" />
    <title>Phoinix Keyz</title>
  </head>
  <body class="container-fluid d-flex flex-column p-0" style="background: #000000">
    <!-- HERO SECTION -->
    <%=require('./home-partials/hero-section.html') %>

    <!-- HIGHLIGHTS SECTION -->
    <div class="container d-flex flex-row justify-content-center py-5" style="gap: 70px">
      <%=require('./home-partials/video-section.html') %>
      <%=require('./home-partials/music-section.html') %>
    </div>

    <!-- TOUR SECTION -->
    <%=require('./home-partials/tour-section.html') %>

    <!-- MERCHANDISE SECTION -->
    <div class="row container-fluid m-auto py-5">
      <%=require('./home-partials/merchandise-section.html') %>
      <%=require('./home-partials/carousel-section.html') %>
    </div>
  </body>
</html>
